.asiaLoader {
  p {
    position: absolute;
    top: 50%;
    right: 30%;
  }
}

.europeLoader {
  p {
    position: absolute;
    top: 30%;
    left: 40%;
  }
}

.northAmericaLoader {
  p {
    position: absolute;
    top: 30%;
    left: 20%;
  }
}

.southAmericaLoader {
  p {
    position: absolute;
    top: 60%;
    left: 25%;
  }
}

.oceaniaLoader {
  p {
    position: absolute;
    top: 70%;
    right: 15%;
  }
}
